ul {
	padding: 0;
	margin: 0;
}

li {
	padding-left: 20px;
}


li { 
	list-style-type: none;
}
ul:hover,
li:hover {
	cursor: pointer;
	background-color: #EBECF0;
}
.hidden {
	display: none;
}
.folderIcon {
	color: #FFDB00;
}
.fileIcon {
	color: #ccc;
}
 .emptyMessage {
 	margin-left: 5px;
 	font-style: italic;
 	font-size: 0.9em;
 }